build/
logs/*.log
#gatling/

### resources ##
#/gatling/src/gatling/resources/static/complete/**
#/gatling/src/gatling/resources/static/result/**
#/gatling/src/gatling/resources/static/progress/**
#/gatling/src/gatling/resources/static/source/**
#/gatling/src/gatling/kotlin/work/**

### IntelliJ IDEA ###
#.idea
#*.iws
#*.iml
#*.ipr
#out/
#!**/src/main/**/out/
#!**/src/test/**/out/

