/logs/err_log.log
/logs/loadrover_log.log
/logs/
build/

## resources ##
/gatling/src/gatling/resources/static/
/gatling/src/gatling/kotlin/work/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/
