<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <logger name="org.springframework" level="INFO"/>
    <logger name="org.springframework.web.servlet.mvc.method.annotation.ExceptionHandlerExceptionResolver"
            level="ERROR"/>
    <logger name="org.springframework.beans.factory" level="WARN"/>
    <logger name="org.springframework.jdbc.support" level="WARN"/>
    <logger name="org.apache" level="INFO"/>
    <logger name="net.sf.ehcache" level="INFO"/>
    <logger name="org.apache.ibatis" level="INFO"/>
    <logger name="org.aspectj" level="INFO"/>
    <logger name="com.zaxxer.hikari" level="INFO"/>
    <logger name="javax.management" level="WARN"/>

    <logger name="java.io.serialization" level="ERROR"/>
    <logger name="sun.rmi" level="ERROR"/>
    <logger name="org.xnio" level="ERROR"/>
    <logger name="io.undertow" level="ERROR"/>

    <logger name="jakarta.activation" level="ERROR"/>
    <logger name="io.swagger.v3.core" level="ERROR"/>
    <logger name="io.swagger" level="ERROR"/>

    <!-- log file path -->
    <property name="LOG_PATH" value="logs/"/>

    <!-- log file name -->
    <property name="LOG_FILE_NAME" value="full_log"/>

    <!-- pattern -->
    <property name="LOG_PATTERN"
              value="%-5level %d{HH:mm:ss.SSS} %X{LOGSEQ:--} %X{LOGINID:--} %logger{36} - %msg %ex %n"/>

    <springProfile name="local">
        <!-- Single log file for all logs -->
        <appender name="FILE" class="ch.qos.logback.core.FileAppender">
            <file>${LOG_PATH}/${LOG_FILE_NAME}.log</file>
            <append>true</append>
            <encoder>
                <pattern>${LOG_PATTERN}</pattern>
            </encoder>
        </appender>

        <!-- Attach appenders to root -->
        <root level="DEBUG">
            <appender-ref ref="FILE"/>
        </root>

    </springProfile>

    <springProfile name="dev">
        <!-- Single log file for all logs -->
        <appender name="FILE" class="ch.qos.logback.core.FileAppender">
            <file>${LOG_PATH}/${LOG_FILE_NAME}.log</file>
            <append>true</append>
            <encoder>
                <pattern>${LOG_PATTERN}</pattern>
            </encoder>
        </appender>

        <!-- Attach appenders to root -->
        <root level="ERROR">
            <appender-ref ref="FILE"/>
        </root>

    </springProfile>

</configuration>
